body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.PurpleText {
    color: #660066;
}

.PurpleBtn {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #660066;
    *background-color: #660066;
    background-image: -moz-linear-gradient(top, #9900cc, #660066);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9900cc), to(#660066));
    background-image: -webkit-linear-gradient(top, #9900cc, #660066);
    background-image: -o-linear-gradient(top, #9900cc, #660066);
    background-image: linear-gradient(to bottom, #9900cc, #660066);
    background-repeat: repeat-x;
    border-color: #660066;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9900cc', endColorstr='#660066', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.PurpleBtn:hover,
.PurpleBtn:active,
.PurpleBtn.active,
.PurpleBtn.disabled,
.PurpleBtn[disabled] {
    color: #FFFFFF;
    background-color: #660066;
    *background-color: #003bb3;
}

.lightPurpleBackground {    
    background-color: #FFCCFF;
}

.purpleBackground {
    background-color: #660066;
}

a {
    color: #9900cc;
}

a:active,
a:hover,
a:focus {
    color: #660066;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #FFCCFF;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #9900cc;
    *background-color: #9900cc;
    background-image: -moz-linear-gradient(top, #660066, #9900cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#660066), to(#9900cc));
    background-image: -webkit-linear-gradient(top, #660066, #9900cc);
    background-image: -o-linear-gradient(top, #660066, #9900cc);
    background-image: linear-gradient(to bottom, #660066, #9900cc);
    background-repeat: repeat-x;
    border-color: #9900cc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#660066', endColorstr='#9900cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}