@{
    ViewBag.Title = "Upload";
}

<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { name: item }, function (data) {
            window.location.href = "/Home/Upload";
            alert(data);
        });
    }
</script>

<h2>Upload</h2>

<!--<p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <input type="file" name="image" multiple="multiple"/>
        <input type="submit" value="Upload" />
    }
</p>-->

<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.TextArea("text", new { rows = 30, cols = 50 })
        <input type="submit" value="Parse and Upload" />
    }
</p>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <img src="@item" alt="images" />
            <a id="@item" href="#" onclick="deleteImage('@item');">Delete</a>
        </li>
    }
</ul>
