@{
    ViewBag.Title = "About";
}

@section HeadScripts
{
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <style type="text/css">
        .LeftFloat {
            margin-left: 24px;
            float: left;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .RightFloat {
            margin-right: 12px;
            float: right;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .FieldContainer {
            background: -webkit-radial-gradient(#9900CC, #FFCCFF); /* Safari 5.1 to 6.0 */
            background: -o-radial-gradient(#9900CC, #FFCCFF); /* For Opera 11.6 to 12.0 */
            background: -moz-radial-gradient(#9900CC, #FFCCFF); /* For Firefox 3.6 to 15 */
            background: radial-gradient(#9900CC, #FFCCFF); /* Standard syntax */
            width: 400px;
            max-height: 300px;
            overflow-y: auto;
            font-family: tahoma;
            -ms-border-radius: 6px;
            border-radius: 6px;
        }

        .OrderingField {
            margin: 5px;
            height: 30px;
            width: 355px;
            -ms-border-radius: 6px;
            border-radius: 6px;
            float: right;
        }

        .OrderNoField {
            margin: 5px;
            margin-right: 0;
            height: 30px;
            width: 30px;
            -ms-border-radius: 6px;
            border-radius: 6px;
            float: left;
            text-align: center;
            line-height: 30px;
        }

        .Up {
        }

        .Down {
        }

    </style>
@* ReSharper restore DeclarationIsEmpty *@

    <script type="text/javascript">
    //<![CDATA[
        $(window).load(function () {
            function moveUp(item) {
                var prev = item.prev().prev();
                if (prev.length == 0)
                    return;
                prev.css('z-index', 999).css('position', 'relative').animate({ top: item.height() }, 250);
                item.css('z-index', 1000).css('position', 'relative').animate({ top: '-' + prev.height() }, 300, function () {
                    prev.css('z-index', '').css('top', '').css('position', '');
                    item.css('z-index', '').css('top', '').css('position', '');
                    item.insertBefore(prev);
                    prev.insertAfter(prev.next());
                });
            }
            function moveDown(item) {
                var next = item.next().next();
                if (next.length == 0)
                    return;
                next.css('z-index', 999).css('position', 'relative').animate({ top: '-' + item.height() }, 250);
                item.css('z-index', 1000).css('position', 'relative').animate({ top: next.height() }, 300, function () {
                    next.css('z-index', '').css('top', '').css('position', '');
                    item.css('z-index', '').css('top', '').css('position', '');
                    item.insertAfter(next);
                    next.insertBefore(next.prev());
                });
            }

            $(".FieldContainer").sortable({ items: ".OrderingField", distance: 10 });

            $('.Up').click(function () {
                moveUp($(this).parents('.OrderingField'));
            });
            
            $('.Down').click(function () {
                moveDown($(this).parents('.OrderingField'));
            });
        });//]]>
    </script>
}

<h2 class="PurpleText">@ViewBag.Title</h2>
<br />


<div class="FieldContainer">
    <div class="OrderNoField lightPurpleBackground"><b>1.</b></div>
    <div class="OrderingField lightPurpleBackground">
        <div class="LeftFloat">
            Item1
        </div>
        <div class="RightFloat">
            <span class="glyphicon glyphicon-chevron-up PurpleColor Up clickable" title="Up"></span>
            <span class="glyphicon glyphicon-chevron-down PurpleColor Down clickable" title="Down"></span>
        </div>
    </div>
    
    <div class="OrderNoField lightPurpleBackground"><b>2.</b></div>
    <div class="OrderingField lightPurpleBackground">
        <div class="LeftFloat">
            Item2
        </div>
        <div class="RightFloat">
            <span class="glyphicon glyphicon-chevron-up PurpleColor Up clickable" title="Up"></span>
            <span class="glyphicon glyphicon-chevron-down PurpleColor Down clickable" title="Down"></span>
        </div>
    </div>

    <div class="OrderNoField lightPurpleBackground"><b>3.</b></div>
    <div class="OrderingField lightPurpleBackground">
        <div class="LeftFloat">
            Item3
        </div>
        <div class="RightFloat">
            <span class="glyphicon glyphicon-chevron-up PurpleColor Up clickable" title="Up"></span>
            <span class="glyphicon glyphicon-chevron-down PurpleColor Down clickable" title="Down"></span>
        </div>
    </div>

    <div class="OrderNoField lightPurpleBackground"><b>4.</b></div>
    <div class="OrderingField lightPurpleBackground">
        <div class="LeftFloat">
            Item4
        </div>
        <div class="RightFloat">
            <span class="glyphicon glyphicon-chevron-up PurpleColor Up clickable" title="Up"></span>
            <span class="glyphicon glyphicon-chevron-down PurpleColor Down clickable" title="Down"></span>
        </div>
    </div>

    <div class="OrderNoField lightPurpleBackground"><b>5.</b></div>
    <div class="OrderingField lightPurpleBackground">
        <div class="LeftFloat">
            Item5
        </div>
        <div class="RightFloat">
            <span class="glyphicon glyphicon-chevron-up PurpleColor Up clickable" title="Up"></span>
            <span class="glyphicon glyphicon-chevron-down PurpleColor Down clickable" title="Down"></span>
        </div>
    </div>
</div>

<h3 class="PurpleText">@ViewBag.Message</h3>

<p class="PurpleText">Soon the short instruction and 'To Do List' will be posted here.</p>
