@{
    ViewBag.Title = "About";
}


<h2 class="PurpleText">@ViewBag.Title</h2>
<hr />
<br />

<h3 class="PurpleText">@ViewBag.Message</h3>

<br />
<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <iframe src="//slides.com/tomekjurkowski/clarifier2014/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>        
    </div>
</div>
