@{
    ViewBag.Title = "About";
}


<h2 class="PurpleText">@ViewBag.Title</h2>
<br />

<h3 class="PurpleText">@ViewBag.Message</h3>

<p class="PurpleText">Soon the short instruction and 'To Do List' will be posted here.</p>
