@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Banacha 2 Street<br />
    02-097 Warsaw<br />
    Poland<br />
    <abbr title="Telephone number">Tel:</abbr>
    (+48) 660 716 628
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">wazniak4ever@googlegroups.com</a>
</address>