@{
    ViewBag.Title = "Contact Info";
}
<h2 class="PurpleText">@ViewBag.Title</h2>
<hr/>

<br />
<h3 class="PurpleText">@ViewBag.Message</h3>
<br />

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">wazniak4ever@googlegroups.com</a>
</address>

<br />
<h3 class="PurpleText">@ViewBag.Message2</h3>

<address>
    <strong>
        Banacha 2 Street<br />
        02-097 Warsaw<br />
        Poland<br />        
    </strong>
</address>
