@{
    ViewBag.Title = "Contact Info";
}
<h2 class="PurpleText">@ViewBag.Title</h2>
<br />
<h3 class="PurpleText">@ViewBag.Message</h3>
<h3 class="PurpleText">@ViewBag.Message2</h3>

<address>
    Banacha 2 Street<br />
    02-097 Warsaw<br />
    Poland<br />

</address>

<h3 class="PurpleText">@ViewBag.Message3</h3>

<address>
    <strong class="PurpleText">
        <abbr title="Telephone number">Tel:</abbr>        
    </strong>
    (+48) 660 716 628<br />

    <strong class="PurpleText">Support:</strong>   <a href="mailto:Support@example.com">wazniak4ever@googlegroups.com</a>
</address>